body {
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 142, 0.15);

}

/*The Nav*/

.navbar-toggler {
    width: 100%;
    height: 100px;

}

.nav-item {
    font-size: 36px;
    border-bottom: 2px solid #2D507A;
  color:#2D507A;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 1px 1px 5px #766b6b;
    border-bottom: solid 2px white;
}

.nav-item:hover {
    text-decoration-line: none;
    color:black;
    opacity: 0.5;
    font-weight: bold;
}

/*Content*/

.page-layout {
    height: 100vh;
    background-image: url(Images/dbTransparent.gif);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;

}


button {
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: #2D507A;
    border: 1px black solid;
    box-shadow: 1px 1px 5px grey;
    color: white;
    font-size: 26px;
    font-family: sans-serif;

    margin:0 auto;
}

button:hover {
    background-color: rgba(83, 70, 70, 0.44);
}

.socialButton{
    width:300px;
}

input{
    text-align: center;
        height:50px;
    width:400px;
    border-radius: 10px;
    margin:0 auto;
    margin-bottom: 20px;

}

h1 {
    padding-top: 120px;
    text-align: center;
    color: #2D507A;
    font-size: 3em;
    text-shadow: 1px 1px 2px grey;
}



p {
    font-size: 26px;
    font-family: sans-serif;
}



/*Media Queries*/
@media screen and (max-width: 766px) {

    .navbar-nav {
        padding-top: 125px;

    }

}

@media screen and (min-width: 767px) {

    .navbar-expand-md {
        background-color: #2D507A;
        border-right: solid white 6px;

    }

    .nav-item {
        width: 280px;
        padding: 20px 0px 20px 0px;
        text-align: left;
              color: #fff;

    }

    .navbar {
        position: fixed;
        height: 100vh;

    }

    .page-layout {
        margin-left: 300px;
    }
